.popup__error {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    opacity: 0;
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 0.3s;
}