.popup__input-error {
    position: absolute;
    top: calc(100%);
    left: 0;
    opacity: 0;
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
